@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo Dev :D</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Esta aplicação foi desenvolvida para aprendizado em .NET Entity Framework, foi criado uma classe de criação de categorias, e uma criação de produtos.</p>
    <p>Ao tentar cadastrar produtos, descrição é obrigatório, e a quantidade máxima é 100, caso tente passar disto aparecerá mensagens de erro.</p>
</div>
